{% extends "base.html" %}

{% block title %}
Doações
{% endblock %}

{% block content %}

<div class="titulo-pagina">

    <h2>Doações</h2>

    <a class="botao"
       href="{{ url_for('nova_doacao') }}">
        + Nova doação
    </a>

</div>

<table>

    <thead>

        <tr>
            <th>ID</th>
            <th>Doador</th>
            <th>Data</th>
            <th>Total de itens</th>
            <th>Observação</th>
        </tr>

    </thead>

    <tbody>

        {% for doacao in doacoes %}

        <tr>

            <td>
                #{{ doacao.id }}
            </td>

            <td>
                {{ doacao.doador }}
            </td>

            <td>
                {{ doacao.data }}
            </td>

            <td>
                {{ doacao.total_itens }}
            </td>

            <td>
                {{ doacao.observacao }}
            </td>

        </tr>

        {% else %}

        <tr>

            <td colspan="5">
                Nenhuma doação cadastrada.
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}
